# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Archives & exports
*.xcarchive
build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Instruments
*.trace

# Playgrounds
timeline.xctimeline

# Rust (legacy — kept for history)
target/
